# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
backend/.env/
backend/venv/
venv/
.env/

# Flask
instance/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Database (if local)
*.db
*.sqlite3

# Environment variables
.env
*.env